body{
    background-color: #2b2b2b;
}
.searchbox{
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 50px;
    background-color: #2b2b2b;
    /* display:flex ;
    justify-content: center; */

}
.topr{
    float:right;

}
.sinput{
    background-color: #2b2b2b;
    border-radius: 25px;
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}
.input{
    display:block;
}
/*form{
    display:flex ;
    justify-content: center;
}*/
.button{
    text-align: center;
    
}
#fff{
   text-align: center ;
}
.google{
    text-align: center;
}

input::placeholder {
    color: white;
}